* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
}

:root {
  --background-color: #dfdfdf;
  --main-text: #000000;
  --secondary-text: #353535;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
}

html {
  font-size: 16px;
}




@media (min-width: 720px) {

}

@media (min-width: 1024px) {
  
}

@media (min-width: 1280px) {

}

@media (min-width: 1440px) {
  
}